献立編集画面です　<!-- cssは後で変更する-->

<div class="recipe-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">献立（レシピ）変更</h1>
        <%= form_for @menu do |f| %>
          <div class="form-group">
            <%= f.label :recipe_id %>
            <%= f.collection_select(:recipe_id, @recipes, :id, :title, { prompt: 'Select a recipe' }, class: 'form-control') %>
          </div>
          <% if logged_in? %>
            <%= f.submit '登録', class: 'btn btn-black btn-block' %>
          <% else %>
            <%= link_to '献立登録にはログインが必要です', login_path %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>