<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <h1 style="margin-top: 30px; margin-bottom: 20px"><%= @date %> 献立</h1>
    </div>
  </div>
</div>
  
<div class="container">
  <% @menus.each do |menu| %>
  <div class="recipe-index-single-wrapper-in-show-menus">
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <div class="recipe-index-img">
            <%= image_tag menu.recipe.image.url, class: 'img-fluid' %> <!-- 画像を親要素に収める -->
          </div>
        </div>  
        <div class="col-md-6">
            <div class="recipe-title-author">
              <h2 class="recipe-title">
                <%= menu.recipe.title %>
              </h2>            
              <span class="recipe-author">
                by <%= menu.recipe.user.name %> さん
              </span>
              <span class="recipe-created_at">
                作成日 <%= menu.recipe.created_at.in_time_zone("Tokyo").strftime("%Y-%m-%d") %>
              </span>    
            </div> 
              <p class="recipe-text">
                <%= menu.recipe.description %>
              </p>
              <% if !menu.recipe.favorite_users.include?(current_user) %>
                <%= link_to favorites_path(recipe_id: menu.recipe.id), method: :post do %>
                  <i class="fa-regular fa-heart recipe-index-favorite-black-icon"></i>
                <% end %>
              <% else %>
                <%= link_to favorites_path(recipe_id: menu.recipe.id), method: :delete do %>
                  <i class="fa-regular fa-heart recipe-index-favorite-red-icon"></i>
                <% end %>
              <% end %>
              <%= menu.recipe.favorite_users.count %>
              
              <%= link_to new_comment_path(recipe_id: menu.recipe.id) do %>
                <%= image_tag 'icons/comment.png', class: 'recipe-index-icon' %>
              <% end %>
              <%= menu.recipe.comments.count %>
              <% if menu.recipe.comments.present? %>
                <p class="comment">
                  <%= "コメント" %>
                </p>
                <ul class="comment-description">
                  <% menu.recipe.comments.each do |comment| %>
                    <li>
                      <%= comment.description %>
                        <span class="comment-user">
                          by <%= comment.user.name %> さん (<%= comment.created_at.in_time_zone("Tokyo").strftime("%Y-%m-%d") %>)
                        </span>
                    </li>
                  <% end %>             
                </ul>
              <% end %>
              
            <div class="family-comments-wrapper">
              <p class="comment">
                <%= "家族コメント" %>
              </p>
              <% if menu.comments.present? %>
                <ul class="comment-description">
                  <% menu.comments.each do |comment| %>
                    <li><%= comment.description %> by <%= comment.user.name %> さん</li>
                  <% end %>   
                </ul>
              <% end %>
              <%= link_to '家族コメント登録', new_comment_path(menu_id: menu.id), class: 'btn btn-warning', style: 'margin-bottom: 20px;' %>
            </div>
              
        </div>
      </div>
    </div>
  <% end %>
</div>
