<div class="recipe-index-wrapper">
  <div class="container">
    <% @favorite_recipes.each do |recipe| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="recipe-index-single">
            <h2 class="recipe-title">
              <%= recipe.title %>
            </h2>
            <h2 class="recipe-author">
              by <%= recipe.user.name %>　さん
            </h2>
            <%= image_tag recipe.image.url %>
            <%= link_to favorites_path(recipe_id: recipe.id), method: :delete do %>
              <i class="fa-regular fa-heart recipe-index-favorite-red-icon"></i>
            <% end %>
            <%= recipe.favorite_users.count %>
            <%= image_tag 'icons/comment.png', class: 'recipe-index-icon' %>
            <p class="recipe-text">
              <%= recipe.description %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>