<div class="recipe-index-wrapper">
  <div class="container">
    <% @recipes.each do |recipe| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="recipe-index-single">
            <h2 class="recipe-title">
              <%= recipe.title %>
            </h2>            
            <h2 class="recipe-author">
              by <%= recipe.user.name %>　さん
            </h2>
            <%= image_tag recipe.image.url %>
            <%= image_tag 'icons/heart-black.png', class: 'recipe-index-icon' %>
            <%= image_tag 'icons/comment.png', class: 'recipe-index-icon' %>
            <p class="recipe-text">
              <%= recipe.description %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>