<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-white">Sign up</h1>
        <%= form_for @user do |f| %>
          <div class="form-group">
            <%= f.label :name, class: 'text-white' %>
            <%= f.text_field :name, class: 'form-control', placeholder: '15文字以下' %>
          </div>
          <div class="form-group">
            <%= f.label :email, class: 'text-white' %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :number, class: 'text-white' %>
            <%= f.number_field :number, class: 'form-control', placeholder: '家族の人数を入れて下さい。後から変更可能です。' %>
          </div>
          <div class="form-group">
            <%= f.label :password, class: 'text-white'%>
            <%= f.password_field :password, class: 'form-control', placeholder: '小文字アルファベットと数字を含み、6~32文字以下' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, class: 'text-white' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <%= f.submit "登録", class: 'btn-block btn-white' %>
        <% end %>
        <%= link_to 'タイトル画面に戻る', root_path, class: 'text-white' %>
      </div>
    </div>
  </div>
</div>
